button {
  background: none;
  border: none;
}

.btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  padding: 1rem 2rem;
  text-transform: inherit;
  transition: color 1s, opacity 0.3s;
  cursor: pointer;
  opacity: 1;

  &:focus {
    outline: none;
  }

  &--purple {
    background: $rebecca-purple;
  }
}