button {
  background: none;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  padding: 1rem 2rem;
  text-transform: inherit;
  cursor: pointer;

  &--purple {
    background: $rebecca-purple;
  }
}