$white: #fff;
$mine-shaft: #232323;

// Background
$madras: #3A4402;
$verdun-green: #576604;
$limeade: #8EA604;
$selective-yellow: #F5BB00;
$california: #EC9F05;
$bamboo: #D76A03;
$fire: #BF3100;
$kenyan-copper: #7c2204;
