.filter {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: rgba(35, 35, 35, 0.9);
  color: $white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;

  &--show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }

  &__inner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
  }

  &__cross-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__items {
    width: 90%;
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__item {
    max-width: 25%;
    margin: 1rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}