// Regular    400
// Semi-Bold  600
// Bold       900
  
// Regular
@font-face {
  font-family: 'FiraSans';
  src: url('#{$firasans-font-path}FiraSans-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

// SemiBold
@font-face {
  font-family: 'FiraSans';
  src: url('#{$firasans-font-path}FiraSans-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

// Bold
@font-face {
  font-family: 'FiraSans';
  src: url('#{$firasans-font-path}FiraSans-Bold.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}
  