.icon {
  use {
    transition: all 0.2s ease-out;
  }

  &--yellow {
    &:hover {
      use {
        fill: $selective-yellow;
      }
    }
  }

  &--svg-arrow {
    cursor: pointer;
    width: 35px;
    height: 35px;

    use {
      fill: $white;
    }
  }

  &--svg-arrow-right {
    transform: rotate(180deg);
  }

  &--svg-pause {
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  use {
    fill: $white;
  }
}
