.icon {
  use {
    fill: $white;
    transition: all 0.2s ease-out;
  }

  &--svg-arrow {
    width: 65px;
    height: 65px;
  }

  &--svg-arrow-right {
    transform: rotate(180deg);
  }

  &--svg-cross {
    width: 35px;
    height: 35px;
  }

  &--svg-volume-high, &--svg-volume-mute {
    width: 35px;
    height: 35px;
  }

  &--svg-envelope {
    width: 35px;
    height: 35px;
  }

  &--yellow {
    &:hover {
      use {
        fill: $selective-yellow;
      }
    }
  }
}
